/* Css per http://stralaceno.cjb.net - Media Screen -  Pasquale Ceres */

	/*color:rgb(51,102,153);	blu ufficiale */
	/*color:rgb(255,102,0);		arancione ufficiale */

a.txt_link {
	text-decoration: none;
}

/*
a.txt_link:visited {
	color:rgb(81,82,103);
}
*/
a.txt_link:hover {
	text-decoration: underline;
}

.txt_link, .txt_articolo, .txt_normal {
	font-family:Arial,Tahoma,Verdana;
    font-size:0.75em;
	color:rgb(51,102,153);
}

.titolo_colonna, .titolo_articolo {
	font-family:Arial, Verdana, Tahoma;
	font-weight: bold;
	color:rgb(51,102,153);
}
