/* Css per http://stralaceno.cjb.net - Media Screen -  Pasquale Ceres */

	/*color:rgb(51,102,153);	blu ufficiale */
	/*color:rgb(255,102,0);		arancione ufficiale */


/*---------------------------  Homepage  -------------------------------------- */

/* tabella dei frame colonna sinistra, centrale e destra*/
table.frame_delimiter {
	margin:0px;
	padding:0px;
	border:1px solid #336699;
	text-align:center;
	}
	
/* tabella dei gruppi all'interno delle colonne sinistra e destra*/
table.column_group {
	text-align: left;
	width:100%;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#FFEFE5;
	}

/* appartengono alla classe titolo_colonna tutti i titoli nelle colonne laterali */
.titolo_colonna {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
}

/* appartengono alla classe txt_link tutti i link ed il testo nelle colonne laterali */
a.txt_link {
	text-decoration: none;
}

a.txt_link:hover {
	text-decoration: underline;
}

/* link e testo nelle colonne laterali */
.txt_link, .txt_normal {
	font-family:Arial,Tahoma,Verdana,Serif;
    font-size:0.75em;
	color:rgb(51,102,153);
}

/* tabella dei singoli articoli nella colonna centrale*/
table.article_group {
	text-align: justify;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#FFF6F0;
	}

/* appartengono alla classe titolo_articolo tutti i titoli degli articoli */
table.article_group H3 {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
	margin:0em;
	}

.txt_articolo { 
	font-family:Arial,Tahoma,Verdana,Serif;
    font-size:0.75em;
	color:rgb(51,102,153);
	}

.txt_firma_articolo { 
	text-align:right;
	padding-right:2em;
	font-style:italic;
	}


/*---------------------------  Tabelle  -------------------------------------- */

table.tabella_contenitore {
	border:0.1em;
	margin:0em;
	}

table.tabella_contenitore table.tabella_colonna {
	border:0.1em;
	padding:2px;
	margin:1px solid;	
	}
