/* Css per http://stralaceno.cjb.net - Media Screen -  Pasquale Ceres */

	/*color:rgb(51,102,153);	blu ufficiale */
	/*color:rgb(255,102,0);		arancione ufficiale */



/*-------------------  impostazioni di default  ------------------------------- */

body {
	color:rgb(34,68,102);
	background:#FFF6F0;
	font-family:Arial,Tahoma,Verdana,Serif;	
	}

/* tutti i link vengono sottolineati quando ci passa il mouse sopra */
a {
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(51,102,153);
}

a:hover {
	text-decoration: underline;
	}

/* link disabilitati */
a.disabled {
    font-size:0.75em;
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(153,153,153);
}

a.disabled:hover {
	text-decoration: none;
	}


/*---------------------------  Header  -------------------------------------- */

/* link nell'header */
.header_link {
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(51,102,153);
	text-decoration: none;
	}

.header_link:hover {
	text-decoration: underline;
	}
	

/*---------------------------  Homepage  -------------------------------------- */

body.homepage {
	background-color:rgb(255, 255, 255);
}

/* tabella dei frame colonna sinistra, centrale e destra*/
table.frame_delimiter {
	margin:0px;
	padding:0px;
	border:1px solid #336699;
	text-align:center;
	}
	
/* tabella dei gruppi all'interno delle colonne sinistra e destra*/
table.column_group {
	text-align: left;
	width:100%;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#FFEFE5;
	}

/* appartengono alla classe titolo_colonna tutti i titoli nelle colonne laterali */
.titolo_colonna {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
	}

/* appartengono alla classe txt_link tutti i link ed il testo nelle colonne laterali */
a.txt_link {
	text-decoration: none;
	}

a.txt_link:hover {
	text-decoration: underline;
	}

/* link e testo nelle colonne laterali */
.txt_link, .txt_normal {
	font-family:Arial,Tahoma,Verdana,Serif;
    font-size:0.75em;
	color:rgb(51,102,153);
	}

/* tabella dei singoli articoli nella colonna centrale*/
table.article_group {
	text-align: justify;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#FFF6F0;
	width:100%; /* l'articolo occupa tutta la larghezza consentita*/
	}

/* appartengono alla classe titolo_articolo tutti i titoli degli articoli */
table.article_group H3 {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
	margin:0em;
	}

.txt_articolo { 
	font-family:Arial,Tahoma,Verdana,Serif;
    font-size:0.75em;
	color:rgb(51,102,153);
	}

.txt_firma_articolo { 
	text-align:right;
	padding-right:2em;
	font-style:italic;
	}


/*---------------------------  Tabelle dati -------------------------------------- */


.titolo_tabella {
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
	}
	
	
table.tabella {
	border:2px solid rgb(51,102,153);
	margin:0px;
	padding:0px;
	color:rgb(51,102,153);
	background:#FFF6F0;
	font-family:Arial,Tahoma,Verdana,Serif;	
	font-size:1.2em;
	}

table.tabella a {
	color:rgb(51,102,153);
	}

table.tabella tr {
	vertical-align:top;
	font-size:0.82em;
	}
	
table.tabella table {
	border-collapse:collapse;
	border:1px solid rgb(51,102,153);
	margin:0px;
	padding:0px;
	}

table.tabella table tr {
	vertical-align:baseline;
	font-size:0.8em;
	}

table.tabella table td {
	min-height:1.0em;
	}

table.tabella table thead {
	border-collapse:separate;
	background-color:rgb(255, 255, 200);
	height:1.2em;
	}

table.tabella table thead th {
	padding:0.2em 0.35em; 
	border:1px solid rgb(170, 170, 170);
	}

/* sfondo azzurro per i maschi */
tr.atleta_maschio {
	background:rgb(251,255,255);
	}

/* sfondo rosa per le femmine */
tr.atleta_femmina {
	background:rgb(255,234,234);
	}

/* caratteri in grassetto per il primo arrivato */
tr.primo {
	font-weight:bold;
	}


/*---------------------------  Note     -------------------------------------- */
.nota {
	font-size:0.7em;
	}

/*---------------------------  Legenda  -------------------------------------- */
table.tabella_legenda tr {
	font-size:0.7em;
	}

table.tabella_legenda td.descrizione {
	font-style:italic;
	}


/*---------------------------  Organizzatori  -------------------------------------- */
div.tabella_organizzatori {
	font-size:0.75em;
	font-family:"comic sans ms",serif;
	}


/*---------------------------  Tabelle dati -------------------------------------- */

/* elementi nell'elenco dei nominativi */
.txt_elenco {
	font-family:Arial,Tahoma,Verdana,Serif;
	font-size:0.75em;
	color:rgb(34,68,102);
	}


/*---------------------------  Amministrazione -------------------------------------- */

body.admin {
	color:rgb(34,68,102);
	background:#FFF6F0;
	font-family:Arial,Tahoma,Verdana,Serif;	
	font-size:1.2em;
	}

table.admin {
	border-collapse:collapse;
	border:2px solid rgb(51,102,153);
	}

table.admin tr {
	vertical-align:baseline;
	text-align:center;
	}

table.admin td {
	padding:0.3em;
	border:1px solid;
	}

table.admin thead {
	border-collapse:separate;
	background-color:rgb(255, 255, 200);
	height:1.2em;
	}

table.admin thead th {
	padding:0.2em 0.35em; 
	border:1px solid rgb(170, 170, 170);
	}

