/* Css per http://ars.altervista.org - Sezione FC_caposele -  Pasquale Ceres */

	/*color:rgb(51,102,153);	blu ufficiale 		*/
	/*color:rgb(255,102,0);		arancione ufficiale 	*/
	/*color:#F7FFE9;		sfondo di default	*/



/*-------------------  impostazioni di default  ------------------------------- */

body {
	color:rgb(34,68,102);
	background:#F8F8FF;	/* sfondo di default per le pagine generiche	*/
	font-family:Arial,Tahoma,Verdana,Serif;	
	}

img {
	border: 0 none;
}

/* tutti i link vengono sottolineati quando ci passa il mouse sopra */
a {
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(51,102,153);
}

a:hover {
	text-decoration: underline;
	}

/* link disabilitati */
a.disabled {
    font-size:0.75em;
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(153,153,153);
}

a.disabled:hover {
	text-decoration: none;
	}


/*---------------------------  Header  -------------------------------------- */

/* link nell'header */
.header_link {
	font-family:Arial,Tahoma,Verdana,Serif;
	color:rgb(51,102,153);
	text-decoration: none;
	}

.header_link:hover {
	text-decoration: underline;
	}


/*---------------------------   Layout   -------------------------------------- */
td.left_column {
	width:15%;
	vertical-align:top;
}

td.middle_column {
	width:70%;
	vertical-align:top;
}

td.right_column {
	width:15%;
	vertical-align:top;
}

/*---------------------------  Homepage  -------------------------------------- */

body.homepage {
	background-color:rgb(255, 255, 255);
}

/* tabella dei frame colonna sinistra, centrale e destra*/
table.frame_delimiter {
	margin:0px;
	padding:0px;
	border:1px solid #336699;
	text-align:center;
	width:100%;
	}

/* tabella dei gruppi all'interno delle colonne sinistra e destra*/
table.column_group {
	text-align: left;
	width:100%;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#EEFFFF;	/* sfondo colonne sinistra e destra */
	}

/* appartengono alla classe titolo_colonna tutti i titoli nelle colonne laterali */
.titolo_colonna {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
	}

/* appartengono alla classe txt_link tutti i link ed il testo nelle colonne laterali */
a.txt_link {
	text-decoration: none;
	}

a.txt_link:hover {
	text-decoration: underline;
	}

/* link e testo nelle colonne laterali */
.txt_link, .txt_normal {
	font-family:Arial,Tahoma,Verdana,Serif;
	font-size:0.75em;
	color:rgb(51,102,153);
	}

/* tabella dei singoli articoli nella colonna centrale*/
table.article_group {
	text-align: justify;
	border:0px;
	margin:0px;
	padding:0.4em;
	background:#EEFFFF;	/* sfondo articoli colonna centrale */
	width:100%;		/* l'articolo occupa tutta la larghezza consentita*/
	}

/* appartengono alla classe titolo_articolo tutti i titoli degli articoli */
table.article_group H3 {
	font-family:Arial,Verdana,Tahoma,Serif;
	font-weight: bold;
	color:rgb(51,102,153);
	margin:0em;
	}

.txt_articolo { 
	font-family:Arial,Tahoma,Verdana,Serif;
    	font-size:0.75em;
	color:rgb(51,102,153);
	}

.txt_firma_articolo { 
	text-align:right;
	padding-right:2em;
	font-style:italic;
	}


/*---------------------------  Tabelle dati -------------------------------------- */


.titolo_tabella {
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
	}
	
	
table.tabella {
	border:2px solid rgb(51,102,153);
	margin:0px;
	padding:0px;
	color:rgb(51,102,153);
	background:#D0F0F0;	/* sfondo tabelle dati */
	font-family:Arial,Tahoma,Verdana,Serif;	
	font-size:1.2em;
	}

table.tabella a {
	color:rgb(51,102,153);
	text-decoration: none;
	}

table.tabella a:hover {
	text-decoration: underline;
	}

table.tabella tr {
	vertical-align:top;
	font-size:0.82em;
	}
	
table.tabella table {
	border-collapse:collapse;
	border:1px solid rgb(51,102,153);
	margin:0px;
	padding:0px;
	}

table.tabella table tr {
	vertical-align:baseline;
	font-size:0.8em;
	}

table.tabella table td {
	min-height:1.0em;
	}

table.tabella table thead {
	border-collapse:separate;
	background-color:rgb(220, 255, 255);	/* sfondo header tabelle dati */
	height:1.2em;
	}

table.tabella table thead th {
	padding:0.2em 0.35em; 
	border:1px solid rgb(170, 170, 170);
	}

/* sfondo azzurro per i maschi */
tr.atleta_maschio {
	background:rgb(251,255,255);
	}

/* sfondo rosa per le femmine */
tr.atleta_femmina {
	background:rgb(255,234,234);
	}

/* caratteri in grassetto per il primo arrivato */
tr.primo {
	font-weight:bold;
	}


/*---------------------------  Note     -------------------------------------- */
.nota {
	font-size:0.7em;
	}

/*---------------------------  Legenda  -------------------------------------- */
table.tabella_legenda tr {
	font-size:0.7em;
	}

table.tabella_legenda td.descrizione {
	font-style:italic;
	}


/*---------------------------  Organizzatori  -------------------------------------- */
div.tabella_organizzatori {
	font-size:0.75em;
	font-family:"comic sans ms",serif;
	}


/*---------------------------  Tabelle dati -------------------------------------- */

/* elementi nell'elenco dei nominativi */
.txt_elenco {
	font-family:Arial,Tahoma,Verdana,Serif;
	font-size:0.75em;
	color:rgb(34,68,102);
	}


/*---------------------------  Amministrazione -------------------------------------- */

body.admin {
	color:rgb(34,68,102);
	background:#F3FFDD;	/* sfondo pagine amministrative */
	font-family:Arial,Tahoma,Verdana,Serif;	
	font-size:1.2em;
	}

table.admin {
	border-collapse:collapse;
	border:2px solid rgb(51,102,153);
	}

table.admin tr {
	vertical-align:baseline;
	text-align:center;
	}

table.admin td {
	padding:0.3em;
	border:1px solid;
	}

table.admin thead {
	border-collapse:separate;
	background-color:rgb(255, 255, 200);
	height:1.2em;
	}

table.admin thead th {
	padding:0.2em 0.35em; 
	border:1px solid rgb(170, 170, 170);
	}


/*---------------------------  Tabelle statistiche -------------------------------------- */
/* generici */
p,
form {
	margin: 0px;
}

/* titoli */
p.title {
	margin: 20px auto 0px auto;
	border-bottom: 2px rgb(255,128,0) solid;
	border-left: 10px rgb(255,128,0) solid;
	padding: 1px 10px;
	background-color: rgb(245,245,245);
	font-family: Verdana;
	font-size: 17px;
	color: rgb(60,60,80);
}

/* titoli evidenziati */
p.title span.hi {
	padding: 0px 2px;
	color: rgb(50,100,140);
}

/* grafici */
table.graph {
	width: 100%;
	height: auto;
	margin: 20px auto;
	table-layout: fixed;
}

table.graph td.item,
table.graph td.chart,
table.graph td.percentage {
	border-bottom: 1px rgb(245,245,245) solid;
	padding: 1px 3px;
	background-color: transparent;
	font-family: "Courier New";
	font-size: 12px;
	color: rgb(0,0,20);
}

table.graph * td.bar {
	width: auto;
	height: auto;
	border-top: 5px rgb(255,255,255) solid;
	border-bottom: 3px rgb(255,255,255) solid;
	background-color: rgb(200,0,0);
}


/*---------------------------  Forums -------------------------------------- */

.TSfondoMedio {
	background-color: #B0CDE7;
}

.TSfondoChiaro {
	background-color: #D0E4F6;
}

.Small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #6D6D95;
	font-weight: normal;
}

/* link nella lista dei forum e dei topic */
.s_link {
	color: #5F5F82;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

.s_link:active,
.s_link:hover {
	color: #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

table.tabella_forum {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}

.titoloBlu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #96BCDF;
	text-align: left;
}

/* link chiaro su sfondo scuro: header tabella forum */
.sfondoscuro {
	font-size: 0.8em;
	color: #FFFFFF
}

a.sfondoscuro:link,
a.sfondoscuro:hover,
a.sfondoscuro:active,
a.sfondoscuro:visited {
	color: #FFFFFF;
	text-decoration: underline;
}




/*---------------------------  Sezione download ------------------------------ */

dl, dd, dt {
	margin: 0;
}

body.download {
	font-size: 10pt;
}

#dm_cats h3, 
#dm_docs h3 {
	background: #ddd;
	padding: 2px 2px 2px 10px;
	clear: both;
}

#dm_docs h3 {
	margin-bottom: 0;
}

#dm_docs h3 span, 
#dm_cats h3 span  {
	display: block;
	float: right;
	margin: -15px 5px 0 0;
	font-size: 11px;
	font-weight: normal;
}

dt {
	padding: 2px;
	border-top: 1px solid #bbb;
	clear: both;
	line-height: 135%; 
}

dt a {
	text-decoration: none;
}

dt a:hover {
	text-decoration: underline;
}

dt a.dm_icon {
	float: left;
	padding-right: 10px;
}

dt a.dm_name {
	display: block;
	margin-top: 3px;
	padding: 8px 0 6px 0;
	font-weight: bold;
}

dt a.dm_name:hover {
	background: #FFCC00;
	color: #FC6401;
}

dt span {
	padding-left: 10px;
	color: black;
	font-weight: normal;
	font-style: italic;
}

dd.dm_date, dd.dm_files	{
	float: right;
	margin: -22px 5px 0 0;
}

dd.dm_description {
	background-color: #EEEEEE;
	padding: 5px;
}

dd.dm_counter {
	float: right;
	clear: right;
	padding-right: 5px;
	margin-top: -14px;
	font-size: 10px;
}

dd.dm_homepage {
	padding: 1px 1px 1px 5px;
	font-size: 10px;
	background-color: #F8F8F8;
}

.dm_orderby {
	margin: 0 0 10px 0;
	padding: 1px 1px 1px 10px;
	background-color: #EEE;
	font-size: 10px;
}

dd.dm_taskbar li {
	float: left;
	list-style-type: none;
	background-image: none;
	padding: 0 0 0 3px; margin: 0.5em 0 2px 0;
	width:  6em;
	font-size: 85%;
}

dd.dm_taskbar li a {
	display: block;
	padding-left: 3px;
}

dd.dm_taskbar li a:link,
dd.dm_taskbar li a:visited,
dd.dm_taskbar li a:hover {
	color: #696969; background-color: #eeeeee;
	text-decoration: none;
 }

dd.dm_taskbar li a:link,
dd.dm_taskbar li a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 1px solid Gray;
	border-left: 1px solid #cecece;
	border-right: 1px solid Gray;
}

dd.dm_taskbar li a:hover {
	border-bottom: 1px solid #cecece;
	border-top: 1px solid Gray;
	border-right: 1px solid #cecece;
	border-left: 1px solid Gray;
}
